.amChartsDataSetSelector
{
    font-size:12px;
    font-family:verdana,helvetica,arial,sans-serif;
}

.amChartsPeriodSelector
{
    font-size:12px;
    font-family:verdana,helvetica,arial,sans-serif;
}

.amChartsButtonSelected
{
   background-color:#CC0000;
   border-style:solid;
   border-color:#ffffff;
   border-width:2px;
   color:#FFFFFF;
   -moz-border-radius: 5px;
   border-radius: 5px;
   margin: 5px;
   outline: none;
   box-sizing: border-box;
   width: 40px;
}

.amChartsButton
{
  color: #ffffff;
  background: transparent;
  opacity: 0.7;
  /*border: 1px solid rgba(0, 0, 0, .3);*/
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 5px;
  outline: none;
  box-sizing: border-box;
  width: 40px;
}

.amChartsCompareList
{
   border-style:solid;
   border-color:#CCCCCC;
   border-width:1px;
}

.amChartsCompareList div
{
   -webkit-box-sizing: initial;
   box-sizing: initial;
}

.amChartsInputField
{
  background: transparent;
  border-radius: 5px;
  color:#ffffff;
}

.amChartsLegend
{

}

.amChartsPanel
{

}